body{
    text-align: center;
    font-family: 'Open Sans', Arial;
}

.container{
    display: grid;
    column-gap: 2vw;
    row-gap: 2vw;
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
}


.navbar {
    grid-column: 1/4;
    grid-row: 1/2;
    background: yellow;
    text-transform: uppercase;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

header {
    font-size: 3vw;
}

.blogPost{
    border: 1px solid red;
}