body{
    text-align: center;
    font-family: 'Open Sans', Arial;
    background-color: pink
}

.container{
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
    display: grid;
    column-gap: 2vw;
    row-gap: 2vw;
    width: 75vw;
    margin: auto;
}

header {
    grid-column: 1/4;
    font-size: 3vw;
}
.navbar {
    grid-column: 1/4;
    grid-row: 2/4;
    background: white;
    text-transform: uppercase;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.blogPosts{
    grid-column: 1/4;
    padding: 2rem;
    display: flex;
    row-gap: 2vw;
    flex-wrap: wrap;
    flex-direction: column;
}

.post {
    border: 5px solid gray;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
}
    
.post img {
    width: 25em;
    height: 25em;
}

.post button {
    border: none;
    border-radius: 10px;
    box-sizing: content-box;
    color: white;
    text-align: center;
    background-color: green;
    width: 50%;
    height: 50%;
    margin: 10px;
}

.post p {
    margin: 1em;
    font-size: 1.5em;
    text-align: justify;
}