html, body{
  text-align: center;
  font-family: 'Open Sans', Arial;
  background-color: #fadadd;
  margin: 0;
}

.italic {
  font-style: italic;
}

.bold {
  font-style: bold;
}

/* CSS Grid layout */
.container{
display: grid;
  grid-template-columns: .10fr .40fr .40fr .10fr;

  column-gap: 2vw;
  /* row-gap: 2vw; */
  text-align: center;
  width: 100%;
}

/* header */
header {
  display: block;
  grid-column: 1/6;
  grid-row: 1/2;
  padding: 100px;
  background:url(../img/paint.jpg);
  background-size: cover;
  background-position: center;
}

header h1 {
  font-size: 50px;
  background-color: white;
  color:  #FF6CC1;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  margin: 0 auto;
}

h2 {
  color: #6b6e6f;
}

/* navbar */
.navbar {
  grid-column: 1/6;
  grid-row: 2/4;

  /* display block with flex-direction allows 'All Articles' to be placed to the right */
  display: block;
  flex-direction: row;

  background: #2f4149;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar li {
  float: left;
  border-right: 1px solid #eeee;
}

.navbar li a {
  display: block;
  color: #FF6CC1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* color: #fff; */
}

.navbar li a:hover {
  background-color: #111;
}

.navbar li:last-child {
  border-right: none;
  float:right;
}

.dropcap {
  float: left;
  font-size: 400%;
  margin: -13px 7px -13px 0;
}

/* post content */
.content {
  grid-column: 2/4;
  grid-row: 4/6;
  /* refactor 1 */
  border: 4px solid #6b6e6f ;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.3);
  /* padding: 2rem;  */
  background-color: white;
}

.article-title {
  font-size: 40px;
  color: #FF6CC1;
}

.article-title:hover {
  opacity: 0.8;
}

.post__header {
  font-size: 40px;
}

/* .post-subheader {
  justify-content: left;
  font-size: 50px;
} */

.content p, .content ul {
  padding: 1.5rem;
  margin: 0;
  font-size: 25px;
  text-align: justify;
  line-height: 2em;
}

.post-subheader {
  font-style: italic;
  font-size: 40px;
  color: #6b6e6f;
}

ul {
  list-style-position: inside;
}
.content img {
  max-width: 80%;
}

/* .author-name {
  text-decoration: underline;
} */

/* social sharing */
.social-sharing{
  margin-bottom: -3px;
  border-radius: 0px 0px 10px 10px;
  background-color: black;
  width: 100%;
}

.social-sharing p, .social-sharing h2 {
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 20px;
}

.social-sharing__icons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#social-sharing__copyright{
  font-size: 10px;
  color:white;
}
.icon{
  width: 7%;
  margin: 0 auto;
}


.icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*author section*/
.author-photo{
  grid-column: 2/3;
  grid-row: 6/7;
}

.author-photo img{
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.author-info {
  grid-column: 3/4;
  grid-row: 6/7;

  display: flex;
  flex-direction: column;

  margin: auto;
  margin-top: 20px;
  text-align: left;
}

.author-bio__short {
  grid-column: 2/4;
  grid-row: 7/8;
  color: black;
  padding: 15px;
}

#author-name {
  font-size: 40px;
  color: #FF6CC1;
  margin: 0;
  border-bottom: 1px solid #111;
}

#author-title {
  font-size: 20px;
  margin: 10px;
}

#author-education {
  margin: 10px;
  font-size: 15px;
}

#author-bio {
  line-height: 30px;
  text-align: justify;
}
/* footer */
footer {
  background-color: #2f4149;
  color: #41C1CC;
  margin: 0;
  padding: 30px;
}

/* mobile phones */
@media only screen and (max-width: 768px){
  body {
    left: 0;
    position: absolute;
    top: 0;
  }

  .navbar li:last-child{
    float: left;
  }

  .author-photo img {
    height: auto;
    width: 70%;
  }
}

@media only screen and (max-width: 1025px) {
  .content {
    grid-column: 1/6;
  }
  .author-photo {
    grid-column: 1/6;
  }

  .author-photo img {
    height: 30%;
    width: 30%;
  }

  .author-info {
    display: flex;
    grid-column: 1/6;
    grid-row: 7/8;
    padding: 20px;
  }
}
