html, body {
  background-color: #fadadd;
  font-family: 'Open Sans', Arial;
  margin: 0;
  text-align: center;
}

/* CSS Grid layout */
.container {
  column-gap: 2vw;
  display: grid;
  grid-template-columns: 0.10fr .40fr .40fr .10fr;
  text-align: center;
  width: 100%;
}

/* header */
header {
  background:url(../img/paint.jpg);
  background-position: center;
  background-size: cover;

  display: block;
  grid-column: 1/6;
  grid-row: 1/2;
  padding: 100px;

}

.site-name {
  background-color: white;
  border-radius: 20px;
  color:  #FF6CC1;
  font-size: 50px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

.italic {
  font-style: italic;
}

/* navbar */
.navbar {
  background: #2f4149;
  display: block;
  flex-direction: row;
  grid-column: 1/6;
  grid-row: 2/4;

  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  overflow: hidden;
  padding: 0;
  position: sticky;
  position: -webkit-sticky;
  /* display block with flex-direction allows 'All Articles' to be placed to the right */
  text-transform: uppercase;
  top: 0;
}

.navbar li {
  border-right: 1px solid #eeee;
  float: left;
}

.navbar li a {
  color: #FF6CC1;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

#active {
  color: #41C1CC;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar li:last-child {
  border-right: none;
  float:right;
}

.dropcap {
  float: left;
  font-size: 400%;
  margin: -13px 7px -13px 0;
}

/* blog contents grid */
.content {
  display: flex;
  flex-direction: column;
  grid-column: 2/4;
}

/* individual posts */
.post {
  background-color: white;
  border: 4px solid #6b6e6f ;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.3);
  grid-column: 2/4;
  grid-row: 4/6;
  margin-bottom: 2rem;
}

.post img {
  max-width: 80%;
}

.author-name {
  text-decoration: underline;
}

h1 {
  color: #FF6CC1;
  font-size: 40px;
}

h1 a{
  color: #FF6CC1;
  text-decoration: none;
}

h1 a:hover{
  opacity: 0.8;
}

h2 {
  color: #6b6e6f;
  font-size: 25px;
}

button {
  background-color: #fff;
  border: 2px #FF6CC1 solid;
  border-radius: 10px;
  box-sizing: content-box;

  color: #FF6CC1;
  font-size: 20px;
  height: 30px;
  margin: 1.5%;
  text-align: center;
  width: 25%;
}

button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.post p {
  font-size: 1.5em;
  line-height: 2em;
  margin: 2em;
  margin-bottom: 0;
  text-align: left;
}

footer {
  background-color: #2f4149;
  color: #41C1CC;
  margin: 0;
  padding: 30px;
}

/* mobile phonts */
@media only screen and (max-width: 768px){
  .navbar li:last-child {
    position: relative;
  }
  .navbar li a {
    display: flex;
  }
}

/* tablets */
@media only screen and (max-width: 1025px){
  .content {
    grid-column: 1/6;
  }
  button {
      font-size: 99%;
  }
}
